<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
<display-name>rest</display-name>
<filter>
<filter-name>CorsFilter</filter-name>
<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
<init-param>
<param-name>cors.allowed.origins</param-name>
<param-value> http://localhost:3000 </param-value>
</init-param>
</filter>
<servlet>
<description/>
<display-name>SignServlet</display-name>
<servlet-name>SignServlet</servlet-name>
<servlet-class>rest.SignServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SignServlet</servlet-name>
<url-pattern>/SignServlet</url-pattern>
</servlet-mapping>
<error-page>
<error-code>404</error-code>
<location>/error404.html</location>
</error-page>
<filter>
<display-name>SignFilter</display-name>
<filter-name>SignFilter</filter-name>
<filter-class>rest.SignFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>SignFilter</filter-name>
<url-pattern>/signup</url-pattern>
</filter-mapping>
</web-app>
